
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:url('images/bgimg4.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    background-image:url('images/taj10.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c3760a;
  
    height: 200px;
    color: white;
    justify-content: center;
   display:flex;
   align-items:center;
  }
  
  nav {
    display: flex;
    gap: 20px;
    background: #dcb055; /* optional dark overlay */
    padding: 10px 20px;
    border-radius: 10px;
    margin:10px;
    justify-content: space-between;
  }
  
  nav a {
    color: #4d2100;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ffd700;
  }

  .bnow{
    display:flex;
    margin-left:auto;
    margin-right:100px;
    padding: 30px 40px;
    border-radius: 30px;
    background: #dcb055;
    font-size:25px;
    transition: color 0.3s
   
  }

  div a {
   
    text-decoration: none;
    font-weight: bold;
    color: #4d2100;
  }
  
  div a:hover{
    color:#ffd700;
  }

  .con-1{
   
    background-image:url('images/conbgimg2.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    margin: 40px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4d2100;
    font-size: 50px;
    font-weight:bolder;
    max-width: 900px;
    height:320px;
    
  }
  
  .con-2{
    margin: 40px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4d2100;
    font-size: 50px;
    font-weight:bolder;
    max-width: 1000px;
    height:450px;
    background-color: rgba(195, 118, 10, 0.8);

  }

  .con-21{
    margin: 20px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    font-weight:bolder;
    max-width: 200px;
    height:400px;
    background-color: rgba(226, 186, 105, 0.5);
   float:left;
 
  }

  .con-22{
    border-radius:"20px";
    float:right;
    margin: 40px;
  }

  .con-3{
    margin: 40px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4d2100;
    font-size: 25px;
    font-weight:bolder;
    max-width: 1100px;
    height:200px;
    background-color: rgba(195, 118, 10, 0.8);
    justify-content: space-between;
    display: flex;
  
  }

  .con-31{
    margin: 20px 20px 20px 20px;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    font-weight:bolder;
    background-color: rgba(240, 229, 129, 0.502);
   float:left;
   height:50px;
   width:70px;
   position: relative;
   overflow: visible;
    
   

  }

  .img31{
     height:190px;
     width:200px;
     position: absolute;
     transform: translateX(-70%); 
     left: 70%;  
     top: 0;   
  }
 
  .con-4{
    margin: 40px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4d2100;
    font-size: 50px;
    font-weight:bolder;
    max-width: 1000px;
    height:400px;
    background-color: rgba(195, 118, 10, 0.8);
    display:flex;
    flex-wrap: wrap;
     position: relative;
   overflow: visible;
  }
#map{
  height:400px;
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.con-40{
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
   border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
background-color: rgba(240, 229, 129, 0.502);
font-size: 50px;
    font-weight:bolder;
    width: 400px;
    height:50px;
  
}
.con-41{
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
   border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
background-color: rgba(240, 229, 129, 0.502);
font-size: 50px;
    font-weight:bolder;
    width: 400px;
    height:50px;

}
.mapp{
  font-size:60%;
}

























  .con-5{
    margin: 40px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4d2100;
    font-size: 50px;
    font-weight:bolder;
    max-width: 1000px;
    height:500px;
    background-color: rgba(195, 118, 10, 0.8);

  }
  

  .foot{
  
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #4d2100;
    font-size: 20px;
    height:350px;
    background-color: rgba(195, 118, 10, 0.8);
  }
